<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SastaTweeter</title>
</head>
<body class="bg-gray-600">

    <header class="text-gray-600 body-font py-4 shadow-2xl bg-gray-900">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <nav class="flex lg:w-2/5 flex-wrap items-center text-xl md:ml-auto">
            <!-- <a class="mr-5 hover:text-gray-900">Admin Login</a> -->
          </nav>
          <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-100 lg:items-center lg:justify-center mb-4 md:mb-0" onclick="location.href='/1'">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-2xl">Saste_Twitter</span>
          </a>
          <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
            <button class="flex mx-8 my-0 text-gray-900 bg-blue-400 border-2 py-2 px-4 focus:outline-none hover:bg-blue-500 rounded-2xl text-xl " onclick="location.href='/tweetPost'">Create New Tweet</button>
            <!-- <button class="inline-flex items-center bg-green-200 border-0 py-1 px-3 focus:outline-none hover:bg-green-300 rounded-xl text-xl mt-4 md:mt-0">Login
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button> -->
          </div>
        </div>
      </header>

      <section class="bg-white dark:bg-gray-600 mt-60">
        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
          <h1 class="text-3xl font-bold font-medium text-center dark:text-gray-200 mb-8 underline">"<%= results[0].title %>"</h1>

            <figure class="max-w-screen-md mx-auto">
                <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-800" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                </svg> 
                <blockquote>
                    <p class="text-3xl font-medium text-gray-900 dark:text-white">"<%= results[0].body %>"</p>
                </blockquote>
                <figcaption class="flex items-center justify-center mt-6 space-x-3">
                    <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
                    <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                        <div class="pr-3 text-2xl text-gray-900 dark:text-white"><%= results[0].createdUser %></div>
                        <div class="pl-3 text-xl font-light text-gray-500 dark:text-gray-400">Sasta_Tweeter_User</div>
                    </div>
                </figcaption>
            </figure>

            <button
                class="shadow bg-indigo-600 hover:bg-indigo-400 mt-24 mx-80 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"
                type="submit" onclick="location.href='/1'">
                BACK
            </button>
        </div>
      </section>
</body>
</html>