<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="" action="/push_data" method="post">
        <p>Text</p>
        <input type="text" name="push" value="" placeholder="sl_no - auto">
        <input type="text" name="push1" value="" placeholder="Name">
        <input type="text" name="push2" value="" placeholder="RollNo">
        <input type="text" name="push3" value="" placeholder="Marks">
        <button type="submit" name="button">Save</button>
    </form>
    </div>
  </body>
</html>

</body>
</html>