<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Basics</title>
</head>

<body style="background-color:bisque;">
<div class='flex items-center justify-center max-h-screen bg-peach-100'>
    <div class='w-full max-w px-10 py-8 mx-auto bg-peach-100 rounded-2xl shadow-xl'>
        <div class='max-w-md mx-auto space-y-6'>
            <h2 class="flex flex-row flex-nowrap items-center my-8">
                <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
                <span class="flex-none block mx-4   px-4 py-2.5 text-xl leading-none font-medium uppercase bg-gray-100 text-black">
                    All Data
                </span>
                <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
            </h2>
        </div>
        <button class="inline-flex items-center mx-96 bg-green-200 border-0 py-2 px-6 focus:outline-none hover:bg-green-400 rounded text-lg mt-4 md:mt-0" onclick="location.href='/'">Home
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
    </div>
</div>
    <div class="flex flex-col bg-gray-200 w-screen shadow-2xl">
        <div class="overflow-x-auto my-16 mx-40 ">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="ml-80 w-2/3 text-center">
                        <thead class="border-b">
                            <tr>
                                <th scope="col" class="text-2xl font-medium text-gray-900 px-6 py-4">
                                    ID
                                </th>
                                <th scope="col" class="text-2xl font-medium text-gray-900 px-6 py-4">
                                    Name
                                </th>
                                <th scope="col" class="text-2xl font-medium text-gray-900 px-6 py-4">
                                    Email
                                </th>
                                <th scope="col" class="text-2xl font-medium text-gray-900 px-6 py-4">
                                    OPs
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b m-4">
                                <% n=1
                                data.forEach(entry=> { %>
                                <td class="text-2xl text-gray-900 font-medium px-2 py-4  whitespace-nowrap">
                                    <%= n++ %>
                                </td>
                                <td class="text-2xl text-gray-900 font-light px-2 py-4  whitespace-nowrap">
                                    <%= entry.name %>
                                </td>
                                <td class="text-2xl text-gray-900 font-light px-2 py-4  whitespace-nowrap">
                                    <%= entry.email %>
                                </td>
                                <!-- <form class="" action="/delete" method="POST"> -->
                                    <td class="text-2xl bg-red-200 font-dark text-red-800 px-1 py-2 hover:bg-red-300  whitespace-nowrap">
                                        <a href="/delete/<%= entry.id %>" ><i class="material-icons">Delete</i></a>
                                    </td>
                                <!-- </form> -->
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>